  @import "tailwindcss";

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono); 
    --container-width: 1400px;
    --container-spacing: 10rem;
    --container-8xl: 1400px;
  }
  @utility container {
    padding-inline: 1rem;
    max-width: 1366px;

    @variant sm {
      padding-inline: 1rem;
    }
    
    @variant lg {
      padding-inline: 1rem;
    }
    
    @variant xl {
      padding-inline: 1rem;
    }
    }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
